<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Departure" value="Минск"/>
    <add key="Arrival" value="Москва"/>
    <add key="LeaveDate" value="14"/>
    <add key="FirstName" value="Pavel"/>
    <add key="FamilyName" value="Bareyko"/>
    <add key="DayOfBirth" value="12"/>
    <add key="MonthOfBirth" value="July"/>
    <add key="YearOfBirth" value="2000"/>
    <add key="Landline" value="Belarus +375"/>
    <add key="MobilePhone" value="333795044"/>
    <add key="Email" value="pavel.bareyko@mail.ru"/>
    <add key="Country" value="BLR - Belarus"/>
  </appSettings>
</configuration>